<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>index</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            text-indent: 0;
        }

        h1 {
            color: #231F20;
            font-family: "Times New Roman", serif;
            font-style: italic;
            font-weight: bold;
            text-decoration: none;
            font-size: 15.5pt;
        }

        .s1 {
            color: #231F20;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 9.5pt;
        }

        h2 {
            color: #231F20;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 12pt;
        }

        .s2 {
            color: #231F20;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 8pt;
        }

        .s3 {
            color: #231F20;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 8pt;
        }

        .s4 {
            color: #231F20;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: underline;
            font-size: 12pt;
        }

        p {
            color: #231F20;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 12pt;
            margin: 0pt;
        }

        .s5 {
            color: #231F20;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 8pt;
        }

        table, tbody {
            vertical-align: top;
            overflow: visible;
        }
    </style>
</head>
<body>
<p style="padding-left: 179pt;text-indent: 0pt;text-align: left;">
    <span>
        <img width="228" height="42" alt="image" src="{{ url_for('static', filename='img/wiocc_logo.png') }}"/>
    </span>
</p>
<p style="text-indent: 0pt;text-align: left;">
    <br/>
</p>
<h1 style="padding-top: 4pt;padding-left: 120pt;text-indent: 0pt;text-align: center;">
    PROGRESS AND DEVELOPMENT GUIDE
</h1>
<p class="s1" style="padding-top: 10pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;">
    <span>At the end of each performance cycle, a formal review of achievements in relation to the performance
        standards is<br/>
        documented.
        This form will assist the Employee and the Supervisor to evaluate performance, set targets for next
        year and<br/>
        document any training needs.
    </span>
</p>
<p style="text-indent: 0pt;text-align: left;">
    <br/>
</p>
<h2 style="padding-left: 5pt; text-indent: 0pt; text-align: left;">Employee details</h2>
<p style="text-indent: 0pt;text-align: left;">
    <br/>
</p>
<table style="border-collapse:collapse; margin-left:5.25pt" cellspacing="0">
    <tr style="height:16pt">
        <td style="width:148pt; border-top-style:solid; border-top-width:1pt; border-top-color:#231F20; border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                Name
            </p>
        </td>
        <td style="width:112pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20">
            <p style="font-size:16px;text-indent: 0pt;text-align: left;">
                {{ user.username }}
            </p>
        </td>
        <td style="width:169pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:2pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                Current Position
            </p>
        </td>
        <td style="width:94pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:2pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20">
            <p style="font-size:14px;text-indent: 0pt;text-align: left;">
                {{ user.position }}
            </p>
        </td>
    </tr>
    <tr style="height:17pt">
        <td style="width:148pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                Review Period
            </p>
        </td>
        <td style="width:112pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20">
            <p class="s3" style="font-size:14px; padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                {{ pdg.review_year }}
            </p>
        </td>
        <td style="width:169pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:2pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                Date of Last Review
            </p>
        </td>
        <td style="width:94pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:2pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20">
            <p style="text-indent: 0pt;text-align: left;">
                <br/>
            </p>
        </td>
    </tr>
</table>
<h2 style="padding-top: 11pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">
    Objectives should be SMART (Specific, Measurable, Attainable, Relevant and Timed)
</h2>
<p style="text-indent: 0pt;text-align: left;">
    <br/>
</p>
<table style="border-collapse:collapse;margin-left:5.25pt" cellspacing="0">
    <tr style="height:17pt">
        <td style="width:104pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                Objectives
            </p>
        </td>
        <td style="width:105pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                Measures of Success
            </p>
        </td>
        <td style="width:52pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                Timeline
            </p>
        </td>
        <td style="width:53pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:2pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                Date Set
            </p>
        </td>
        <td style="width:104pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:2pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                Self-Evaluation
            </p>
        </td>
        <td style="width:105pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                Supervisor Evaluation
            </p>
        </td>
    </tr>
    {% for objective in pdg.objectives %}
    <tr style="height:17pt">
        <td style="width:104pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
               {{ objective.objective }}
            </p>
        </td>
        <td style="width:105pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                {{ objective.measure_of_success }}
            </p>
        </td>
        <td style="width:52pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                {{ objective.timeline }}
            </p>
        </td>
        <td style="width:53pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:2pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                {{ objective.date_set }}
            </p>
        </td>
        <td style="width:104pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:2pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                {{ objective.self_evaluation }}
            </p>
        </td>
        <td style="width:105pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                {{ objective.supervisor_evaluation }}
            </p>
        </td>
    </tr>
    {% endfor %}
</table>
<p style="text-indent: 0pt;text-align: left;">
    <br/>
</p>
<p class="s4" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">
    WIOCC’s Values
</p>
<p style="text-indent: 0pt;text-align: left;">
    <br/>
</p>
<table style="border-collapse:collapse;margin-left:5.25pt" cellspacing="0">
    <tr style="height:16pt">
        <td style="width:523pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:2pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            colspan="2">
            <p class="s3" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                How have you demonstrated, implemented &amp; incorporated the Company Values as an individual towards
                achieving your objectives?
            </p>
        </td>
    </tr>
    <tr style="height:16pt">
        <td style="width:209pt;border-top-style:solid;border-top-width:2pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                Customer Focus
            </p>
        </td>
        <td style="width:314pt;border-top-style:solid;border-top-width:2pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20">
            <p style="text-indent: 0pt;text-align: left;">
                {{ value.client_focus }}
            </p>
        </td>
    </tr>
    <tr style="height:16pt">
        <td style="width:209pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:2pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                Integrity
            </p>
        </td>
        <td style="width:314pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:2pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20">
            <p style="text-indent: 0pt;text-align: left;">
                {{ value.integrity }}
            </p>
        </td>
    </tr>
    <tr style="height:16pt">
        <td style="width:209pt;border-top-style:solid;border-top-width:2pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:2pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                Boundless
            </p>
        </td>
        <td style="width:314pt;border-top-style:solid;border-top-width:2pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:2pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20">
            <p style="text-indent: 0pt;text-align: left;">
                {{ value.boundless}}
            </p>
        </td>
    </tr>
    <tr style="height:16pt">
        <td style="width:209pt;border-top-style:solid;border-top-width:2pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                Personal Excellence
            </p>
        </td>
        <td style="width:314pt;border-top-style:solid;border-top-width:2pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20">
            <p style="text-indent: 0pt;text-align: left;">
                {{ value.personal_excellence }}
            </p>
        </td>
    </tr>
    <tr style="height:16pt">
        <td style="width:209pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                Collaborate
            </p>
        </td>
        <td style="width:314pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20">
            <p style="text-indent: 0pt;text-align: left;">
                {{ value.collaborate }}
            </p>
        </td>
    </tr>
</table>
<p style="text-indent: 0pt;text-align: left;">
    <br/>
</p>
<p class="s4" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">
    Set objectives (SMART) for the new financial year
</p>
<p style="text-indent: 0pt;text-align: left;">
    <br/>
</p>
<table style="border-collapse:collapse;margin-left:5.25pt" cellspacing="0">
    <tr style="height:16pt">
        <td style="width:209pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                Objectives
            </p>
        </td>
        <td style="width:209pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:2pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                Measures of Success
            </p>
        </td>
        <td style="width:105pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:2pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                Timeline
            </p>
        </td>
    </tr>
    {% for objective in pdg.futures %}
    <tr style="height:16pt">
        <td style="width:209pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                {{ objective.objective }}
            </p>
        </td>
        <td style="width:209pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:2pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                {{ objective.measure_of_success }}
            </p>
        </td>
        <td style="width:105pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:2pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
               {{ objective.timeline }}
            </p>
        </td>
    </tr>
    {% endfor %}
</table>
<p style="text-indent: 0pt;text-align: left;">
    <br/>
</p>
<p class="s4" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">
    Training and Development Needs
</p>
<p style="text-indent: 0pt;text-align: left;">
    <br/>
</p>
<p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">
    <span>
        Employee and supervisor discuss and document development goals to be achieved during the next
        <br/>
        performance cycle. These may include formal training, on-the-job training, temporary project assignments<br/>or mentoring programs. This should include an assessment of how much a priority the development goal is:
    </span>
</p>
<p style="text-indent: 0pt;text-align: left;">
    <br/>
</p>
<h2 style="padding-left: 5pt;text-indent: 0pt;text-align: left;">
    (C) = Critical;
    (M) = Moderate;
    and (VA) = Value Added
</h2>
<p style="text-indent: 0pt;text-align: left;">
    <br/>
</p>
<p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">
    <span>Target dates for achievement of these development goals are outlined, along with any explanation of how<br/>they will help the employee’s personal or professional development. To identify these goals, employee and
        <br/>
        supervisor review development needs identified in the previous performance cycle.
    </span>
</p>
<p style="text-indent: 0pt;text-align: left;">
    <br/>
</p>
<table style="border-collapse:collapse;margin-left:5.25pt" cellspacing="0">
    <tr style="height:16pt">
        <td style="width:242pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                Development Goals/Purpose
            </p>
        </td>
        <td style="width:162pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                Priority
            </p>
        </td>
        <td style="width:118pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                Target Dates
            </p>
        </td>
    </tr>
    {% for training in pdg.trainings %}
    <tr style="height:16pt">
        <td style="width:242pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                {{ training.purpose }}
            </p>
        </td>
        <td style="width:162pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                {{ training.priority }}
            </p>
        </td>
        <td style="width:118pt;border-top-style:solid;border-top-width:1pt;border-top-color:#231F20;border-left-style:solid;border-left-width:1pt;border-left-color:#231F20;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#231F20;border-right-style:solid;border-right-width:1pt;border-right-color:#231F20"
            bgcolor="#E2E2E2">
            <p class="s2" style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                {{ training.target_date }}
            </p>
        </td>
    </tr>
    {% endfor %}
</table>
<p style="text-indent: 0pt;text-align: left;">
    <br/>
</p>
<p class="s4" style="padding-top: 4pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">
    Overall Feedback and Rating
</p>
<p style="text-indent: 0pt;text-align: left;">
    <br/>
</p>
<p style="padding-left: 179pt;text-indent: 0pt;text-align: left;">
    <span>
        <img width="228" height="42" alt="image" src="{{ url_for('static', filename='img/wiocc_logo.png') }}"/>
    </span>
</p>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<p style="padding-top: 6pt;padding-left: 6pt;text-indent: 0pt;text-align: left;"><a name="bookmark0"><span>At the end of the evaluation the Supervisor is required to indicate the employee’s overall performance by<br/>using the following assessment scale</span></a>
</p>
<p class="s1" style="padding-top: 10pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">Overall Feedback from
    Supervisor</p>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<p class="s1" style="padding-top: 4pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">Assessment Rating
    Definitions</p>
<ul id="l1">
    <li><p style="padding-top: 14pt;padding-left: 17pt;text-indent: -12pt;text-align: left;">Exceeds expectations -
        Consistently exceeds the required standard of performance</p></li>
    <li><p style="padding-top: 3pt;padding-left: 17pt;text-indent: -12pt;text-align: left;">Above expectations -
        Significantly higher than the required standard of performance</p></li>
    <li><p style="padding-top: 3pt;padding-left: 17pt;text-indent: -12pt;text-align: left;">Meets expectations - Fully
        meets the required standard of performance</p></li>
    <li><p style="padding-top: 3pt;padding-left: 17pt;text-indent: -12pt;text-align: left;">Improvement needed - below
        the required standard of performance</p></li>
    <li><p style="padding-top: 3pt;padding-left: 17pt;text-indent: -12pt;text-align: left;">Unsatisfactory - does not
        meet the required standard of performance</p></li>
</ul>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<table style="border-collapse:collapse;margin-left:6.23606pt" cellspacing="0">
    <tr style="height:16pt">
        <td style="width:523pt;border-top-style:solid;border-top-width:1pt;border-top-color:#221E1F;border-left-style:solid;border-left-width:1pt;border-left-color:#221E1F;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#221E1F;border-right-style:solid;border-right-width:1pt;border-right-color:#221E1F"
            colspan="2" bgcolor="#E3E3E3"><p class="s2"
                                             style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
            Overall Rating (tick as appropriate)</p></td>
    </tr>
    <tr style="height:17pt">
        <td style="width:261pt;border-top-style:solid;border-top-width:1pt;border-top-color:#221E1F;border-left-style:solid;border-left-width:1pt;border-left-color:#221E1F;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#221E1F;border-right-style:solid;border-right-width:1pt;border-right-color:#221E1F"
            bgcolor="#E3E3E3"><p class="s2"
                                 style="padding-top: 3pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Exceeds
            Expectations</p></td>
        <td style="width:262pt;border-top-style:solid;border-top-width:1pt;border-top-color:#221E1F;border-left-style:solid;border-left-width:1pt;border-left-color:#221E1F;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#221E1F;border-right-style:solid;border-right-width:1pt;border-right-color:#221E1F">
            <p style="text-indent: 0pt;text-align: left;"><br/></p></td>
    </tr>
    <tr style="height:16pt">
        <td style="width:261pt;border-top-style:solid;border-top-width:1pt;border-top-color:#221E1F;border-left-style:solid;border-left-width:1pt;border-left-color:#221E1F;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#221E1F;border-right-style:solid;border-right-width:1pt;border-right-color:#221E1F"
            bgcolor="#E3E3E3"><p class="s2"
                                 style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Above
            Expectations</p></td>
        <td style="width:262pt;border-top-style:solid;border-top-width:1pt;border-top-color:#221E1F;border-left-style:solid;border-left-width:1pt;border-left-color:#221E1F;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#221E1F;border-right-style:solid;border-right-width:1pt;border-right-color:#221E1F">
            <p style="text-indent: 0pt;text-align: left;"><br/></p></td>
    </tr>
    <tr style="height:17pt">
        <td style="width:261pt;border-top-style:solid;border-top-width:1pt;border-top-color:#221E1F;border-left-style:solid;border-left-width:1pt;border-left-color:#221E1F;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#221E1F;border-right-style:solid;border-right-width:1pt;border-right-color:#221E1F"
            bgcolor="#E3E3E3"><p class="s2"
                                 style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Meets
            Expectations</p></td>
        <td style="width:262pt;border-top-style:solid;border-top-width:1pt;border-top-color:#221E1F;border-left-style:solid;border-left-width:1pt;border-left-color:#221E1F;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#221E1F;border-right-style:solid;border-right-width:1pt;border-right-color:#221E1F">
            <p style="text-indent: 0pt;text-align: left;"><br/></p></td>
    </tr>
    <tr style="height:16pt">
        <td style="width:261pt;border-top-style:solid;border-top-width:1pt;border-top-color:#221E1F;border-left-style:solid;border-left-width:1pt;border-left-color:#221E1F;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#221E1F;border-right-style:solid;border-right-width:1pt;border-right-color:#221E1F"
            bgcolor="#E3E3E3"><p class="s2"
                                 style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
            Improvement Needed</p></td>
        <td style="width:262pt;border-top-style:solid;border-top-width:1pt;border-top-color:#221E1F;border-left-style:solid;border-left-width:1pt;border-left-color:#221E1F;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#221E1F;border-right-style:solid;border-right-width:1pt;border-right-color:#221E1F">
            <p style="text-indent: 0pt;text-align: left;"><br/></p></td>
    </tr>
    <tr style="height:17pt">
        <td style="width:261pt;border-top-style:solid;border-top-width:1pt;border-top-color:#221E1F;border-left-style:solid;border-left-width:1pt;border-left-color:#221E1F;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#221E1F;border-right-style:solid;border-right-width:1pt;border-right-color:#221E1F"
            bgcolor="#E3E3E3"><p class="s2"
                                 style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
            Unsatisfactory</p></td>
        <td style="width:262pt;border-top-style:solid;border-top-width:1pt;border-top-color:#221E1F;border-left-style:solid;border-left-width:1pt;border-left-color:#221E1F;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#221E1F;border-right-style:solid;border-right-width:1pt;border-right-color:#221E1F">
            <p style="text-indent: 0pt;text-align: left;"><br/></p></td>
    </tr>
</table>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<p class="s1" style="padding-top: 4pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">Overall Feedback from
    Employee</p>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<p style="text-indent: 0pt;text-align: left;"><br/></p>
<table style="border-collapse:collapse;margin-left:6.23606pt" cellspacing="0">
    <tr style="height:16pt">
        <td style="width:261pt;border-top-style:solid;border-top-width:1pt;border-top-color:#221E1F;border-left-style:solid;border-left-width:1pt;border-left-color:#221E1F;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#221E1F;border-right-style:solid;border-right-width:1pt;border-right-color:#221E1F"
            bgcolor="#E3E3E3"><p class="s2"
                                 style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Name of
            Employee</p></td>
        <td style="width:262pt;border-top-style:solid;border-top-width:1pt;border-top-color:#221E1F;border-left-style:solid;border-left-width:1pt;border-left-color:#221E1F;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#221E1F;border-right-style:solid;border-right-width:1pt;border-right-color:#221E1F"
            bgcolor="#E3E3E3"><p class="s2"
                                 style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Name of
            Reviewer</p></td>
    </tr>
    <tr style="height:7pt">
        <td style="width:261pt;border-top-style:solid;border-top-width:1pt;border-top-color:#221E1F;border-left-style:solid;border-left-width:1pt;border-left-color:#221E1F;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#221E1F;border-right-style:solid;border-right-width:1pt;border-right-color:#221E1F">
            <p style="text-indent: 0pt;text-align: left;"><br/></p></td>
        <td style="width:262pt;border-top-style:solid;border-top-width:1pt;border-top-color:#221E1F;border-left-style:solid;border-left-width:1pt;border-left-color:#221E1F;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#221E1F;border-right-style:solid;border-right-width:1pt;border-right-color:#221E1F">
            <p style="text-indent: 0pt;text-align: left;"><br/></p></td>
    </tr>
    <tr style="height:16pt">
        <td style="width:261pt;border-top-style:solid;border-top-width:1pt;border-top-color:#221E1F;border-left-style:solid;border-left-width:1pt;border-left-color:#221E1F;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#221E1F;border-right-style:solid;border-right-width:1pt;border-right-color:#221E1F"
            bgcolor="#E3E3E3"><p class="s2"
                                 style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Signature
            of Employee</p></td>
        <td style="width:262pt;border-top-style:solid;border-top-width:1pt;border-top-color:#221E1F;border-left-style:solid;border-left-width:1pt;border-left-color:#221E1F;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#221E1F;border-right-style:solid;border-right-width:1pt;border-right-color:#221E1F"
            bgcolor="#E3E3E3"><p class="s2"
                                 style="padding-top: 2pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Signature
            of Reviewer</p></td>
    </tr>
    <tr style="height:17pt">
        <td style="width:261pt;border-top-style:solid;border-top-width:1pt;border-top-color:#221E1F;border-left-style:solid;border-left-width:1pt;border-left-color:#221E1F;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#221E1F;border-right-style:solid;border-right-width:1pt;border-right-color:#221E1F">
            <p style="text-indent: 0pt;text-align: left;"><br/></p>
            <p style="padding-left: 3pt;text-indent: 0pt;line-height: 1pt;text-align: left;"/></td>
        <td style="width:262pt;border-top-style:solid;border-top-width:1pt;border-top-color:#221E1F;border-left-style:solid;border-left-width:1pt;border-left-color:#221E1F;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#221E1F;border-right-style:solid;border-right-width:1pt;border-right-color:#221E1F">
            <p style="text-indent: 0pt;text-align: left;"><br/></p>
            <p style="padding-left: 3pt;text-indent: 0pt;line-height: 1pt;text-align: left;"/></td>
    </tr>
</table>
<p style="text-indent: 0pt;text-align: left;"><br/></p>


</body>
</html>
