{%- macro render_training(subform, index) %}

    <div id="training-{{ index }}-form" class="{% if index != '_' %}training{% else %}is-hidden{% endif %}" data-index="{{ index }}">
        <div class="row">
            <div class="col">
            {{ subform.purpose.label(class="form-label") }}
            {{ subform.purpose(class="form-control") }}
            </div>
            <div class="col">
            {{ subform.priority.label(class="form-label") }}
            {{ subform.priority(class="form-control") }}
            </div>
            <div class="col">
            {{ subform.target_date.label(class="form-label") }}
            {{ subform.target_date(class="form-control") }}
            </div>
        </div>
        
        <a class="remove-training" href="#">Remove</a>
        <hr/>
    </div>

{% endmacro %}