{% extends 'layout.html' %}


{% block content %}


<form class="form mb-5" id="lap-form" action="" method="POST" role="form" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="row mb-4">
        {% if pdg.status == False %}

        <div class="col-1">
            <a class="btn btn-info mr-5" href="{{ url_for('main.pdg_edit', pdg_id=pdg.id) }}">Edit</a>
        </div>
        <div class="col-1">
            <button type="submit"
                    class="btn btn-primary" name="btn" value="submit">Submit
            </button>
        </div>
        {% endif %}
        <div class="col-1">
            <a class="btn btn-primary ml-5" href="{{ url_for('main.print_pdg', pdg_id=pdg.id) }}"
               target="blank">Print</a>
        </div>
    </div>
    {% if pdg.approved == False and current_user.role_id == 2 and pdg.supervisor_id == current_user.id %}
    <div class="row mb-4">
        <div class="col-1">
            <button type="submit" style="background-color: #7367F0; border-color: #7367F0;"
                    class="btn btn-primary" name="btn" value="approve">Approve
            </button>
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-info" name="btn" value="save">Save</button>
        </div>

        <div class="col-1">
            <button type="submit"
                    class="btn btn-warning" name="btn" value="reject">Reject
            </button>
        </div>

    </div>


    <!--                <button type="submit" class="btn btn-info">Submit</button>-->
    {% endif %}

    <hr>
    <div class="row g-6 mb-4">
        <div class="col-md-4">
            {{ form.supervisor.label(class="form-label") }}
            {{ form.supervisor(class="form-control", disabled=True) }}
            {% if form.supervisor.errors %}
            {% for error in form.supervisor.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-4">
            <h6>Date of Review </h6>
            {{ pdg.date_of_review }}
            <!--            {{ pdg_edit.date_of_review.label(class="form-label") }}-->
            <!--            {{ pdg_edit.date_of_review(class="form-control", disabled=True) }}-->
            <!--            {% if pdg_edit.date_of_review.errors %}-->
            <!--            {% for error in pdg_edit.date_of_review.errors %}-->
            <!--            <span class="text-danger">{{ error }}</span>-->
            <!--            {% endfor %}-->
            <!--            {% endif %}-->
        </div>
        <div class="col-md-4 ">
            <h6>Review Year</h6>
            {{pdg.review_year}}
            <!--            {{ pdg_edit.review_year.label(class="form-label") }}-->
            <!--            {{ pdg_edit.review_year(class="form-control", disabled=True) }}-->
            <!--            {% if pdg_edit.review_year.errors %}-->
            <!--            {% for error in pdg_edit.review_year.errors %}-->
            <!--            <span class="text-danger">{{ error }}</span>-->
            <!--            {% endfor %}-->
            <!--            {% endif %}-->
        </div>
    </div>
    <div class="row g-6 mb-4">
        <div class="col-md-4">
            <h6>Employee name</h6>
            {{user.username}}
        </div>

        <div class="col-md-4">
            {{ form.position.label(class="form-label") }}
            {{ form.position(class="form-control", disabled=True) }}
            {% if form.position.errors %}
            {% for error in form.position.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>

    </div>


    <ul class="nav nav-pills mb-3 mt-4" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-objectives-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-objectives"
                    type="button" role="tab" aria-controls="pills-objectives" aria-selected="true">Objectives
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-future-objectives-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-future-objectives"
                    type="button" role="tab" aria-controls="pills-future-objectives" aria-selected="false">
                Following Year Objectives
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="#pills-values-tab" data-bs-toggle="pill" data-bs-target="#pills-values"
                    type="button" role="tab" aria-controls="#pills-values" aria-selected="false">WIOCC values
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-training-tab" data-bs-toggle="pill" data-bs-target="#pills-training"
                    type="button" role="tab" aria-controls="pills-training" aria-selected="false">Training and
                development Needs
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="self-evaluation-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-self-evaluation"
                    type="button" role="tab" aria-controls="self-evaluation" aria-selected="false">Self Evaluation
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="supervisor-evaluation-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-supervisor-evaluation"
                    type="button" role="tab" aria-controls="supervisor-evaluation" aria-selected="false">Supervisor
                Evaluation
            </button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-objectives" role="tabpanel"
             aria-labelledby="pills-objectives-tab">
            <div class="card">
                <div class="card-body">
                    <div class="card-header mb-3">
                        <h6 class="card-subtitle p-2">
                            Objectives should be SMART (Specific, Measurable, Attainable, Relevant and Timed)
                        </h6>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Objective</th>
                            <th scope="col">Measure of Success</th>
                            <th scope="col">Date Set</th>
                            <th scope="col">Timeline</th>
                            <th scope="col">Self Evaluation</th>
                            <th scope="col">Supervisor Evaluation</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for objective in pdg.objectives %}

                        <tr>
                            <td>{{ objective.objective }}</td>
                            <td>{{ objective.measure_of_success }}</td>
                            <td>{{ objective.date_set }}</td>
                            <td>{{ objective.timeline }}</td>
                            <td>{{ objective.self_evaluation }}</td>
                            {% if pdg.approved == False and current_user.role_id == 2 and pdg.supervisor_id ==
                            current_user.id %}
                            <td>
                                <textarea class="form-control" id="{{ objective.id }}" name="{{ objective.id }}" >{% if objective.supervisor_evaluation %}{{ objective.supervisor_evaluation }}{% endif %}</textarea>
                            </td>
                            {% else %}
                            <td>{{ objective.supervisor_evaluation }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>

            </div>
        </div>
        <div class="tab-pane fade" id="pills-future-objectives" role="tabpanel"
             aria-labelledby="pills-future-objectives-tab">
            <div class="card">
                <div class="card-body">
                    <div class="border-bottom mb-3 pb-4">
                        <h6 class="card-title">PDG Objectives Next Year</h6>
                        <p class="card-text">
                            Objectives should be SMART (Specific, Measurable, Attainable, Relevant and Timed)
                        </p>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Objective</th>
                            <th scope="col">Measure of Success</th>
                            <th scope="col">Timeline</th>
                        </tr>
                        </thead>
                        <tbody>


                        {% for objective in pdg.futures %}

                        <tr>
                            <td>{{ objective.objective }}</td>
                            <td>{{ objective.measure_of_success }}</td>
                            <td>{{ objective.timeline }}</td>
                        </tr>

                        {% endfor %}

                        </tbody>
                    </table>

                </div>

            </div>
        </div>
        <div class="tab-pane fade" id="pills-values" role="tabpanel" aria-labelledby="pills-values-tab">
            <div class="card">
                <div class="card-body">
                    <div class="border-bottom mb-3 pb-4">
                        <p class="card-text">
                            How have you demonstrated, implemented & incorporated the Company Values as an individual
                            towards achieving your objectives?
                        </p>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Client Focus</th>
                            <th scope="col">Boundless</th>
                            <th scope="col">Collaborate</th>
                            <th scope="col">Integrity</th>
                            <th scope="col">Personal Excellence</th>
                        </tr>
                        </thead>
                        <tbody>


                        <tr>
                            <td>{{ value.client_focus }}</td>
                            <td>{{ value.boundless }}</td>
                            <td>{{ value.collaborate }}</td>
                            <td>{{ value.integrity }}</td>
                            <td>{{ value.personal_excellence }}</td>

                        </tr>

                        </tbody>
                    </table>

                </div>

            </div>
        </div>
        <div class="tab-pane fade" id="pills-training" role="tabpanel" aria-labelledby="pills-training-tab">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Introduction</h6>
                    <p class="card-text">
                        Employee and supervisor discuss and document development goals to be achieved during the
                        next performance cycle. These may include formal training, on-the-job training, temporary
                        project assignments or mentoring programs.<br>

                        This should include an assessment of how much a priority the development goal is:
                        <br>

                    <h6 class="fw-bold"> (C) = Critical; (M) = Moderate; and (VA) = Value Added</h6> <br>


                    Target dates for achievement of these development goals are outlined, along with any
                    explanation of how they will help the employee’s personal or professional development. To
                    identify these goals, employee and supervisor review development needs identified in the
                    previous performance cycle.
                    </p>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Purpose</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Target Date</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for training in pdg.trainings %}

                    <tr>
                        <td>{{ training.purpose }}</td>
                        <td>{{ training.priority }}</td>
                        <td>{{ training.target_date }}</td>


                    </tr>

                    {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
        <div class="tab-pane fade" id="pills-self-evaluation" role="tabpanel"
             aria-labelledby="pills-self-evaluation-tab">
            <div class="card">
                <div class="card-body">
                    <div class="border-bottom mb-3 pb-2">
                        <h6 class="card-title">Employee Feedback</h6>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Employee Feedback</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>{{ pdg.employee_feedback }}</td>


                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="tab-pane fade" id="pills-supervisor-evaluation" role="tabpanel"
             aria-labelledby="pills-supervisor-evaluation-tab">
            <div class="card">
                <div class="card-body">
                    <div class="border-bottom mb-3 pb-4">
                        <h6 class="card-title">Supervisor Feedback</h6>
                        <p class="card-text">
                            At the end of the evaluation the Supervisor is required to indicate the employee’s overall
                            performance by using the following assessment scale. <br>

                        <ul>
                            <li style="list-style: none">
                                Assessment Rating Definitions
                                <ul>
                                    <li>
                                        Exceeds expectations - Consistently exceeds the required standard of
                                        performance.
                                    </li>
                                    <li>
                                        Above expectations - Significantly higher than the required standard of
                                        performance.
                                    </li>
                                    <li>
                                        Meets expectations - Fully meets the required standard of performance.
                                    </li>
                                    <li>
                                        Improvement needed - below the required standard of performance.
                                    </li>
                                    <li>
                                        Unsatisfactory - does not meet the required standard of performance.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        </p>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Supervisor Feedback</th>
                            <th scope="col">Rating</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if pdg.approved == False and current_user.role_id == 2 and pdg.supervisor_id ==
                        current_user.id%}

                        <tr>
                            <td>{{ form.supervisor_feedback(class="form-control") }}</td>
                            <td>{{ form.rating(class="form-control") }}</td>


                        </tr>
                        {% else %}
                        <tr>
                            <td>{{ pdg.supervisor_feedback }}</td>
                            <td>{{ pdg.rating }}</td>


                        </tr>

                        {% endif %}

                        </tbody>
                    </table>

                </div>

            </div>
        </div>


    </div>

</form>


{% endblock %}