{% extends 'layout.html' %}


{% block content %}



    {#    <form action="" method="POST">#}

    {#        {{ form.hidden_tag() }}#}

    <form class="form" id="lap-form" action="" method="POST" role="form" enctype="multipart/form-data">
        {{ form.hidden_tag() }}


    {% if pdg.status == False %}

        <a class="btn btn-info mr-4" href="{{ url_for('main.pdg_edit', pdg_id=pdg.id) }}">Edit</a>

    {% endif %}


        {% if not pdg.approved and current_user.role_id == 2 %}

            <input type="checkbox" class="form-check-input" name="approve">
            <label class="form-check-label">Approve</label>


        {% endif %}


        <div class="row g-6 mb-4">
            <div class="col-md-4">
                {#            {{ form.date_of_review.label(class="form-label") }}#}
                {#            {{ form.date_of_review(class="form-control") }}#}
            </div>
            <div class="col-md-4 offset-2">
                {#            {{ form.review_year.label(class="form-label") }}#}
                {#            {{ form.review_year(class="form-control") }}#}
            </div>
        </div>

        <ul class="nav nav-pills mb-3 mt-4" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-objectives-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-objectives"
                        type="button" role="tab" aria-controls="pills-objectives" aria-selected="true">Objectives
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-future-objectives-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-future-objectives"
                        type="button" role="tab" aria-controls="pills-future-objectives" aria-selected="false">Future
                    Objectives
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="#pills-values-tab" data-bs-toggle="pill" data-bs-target="#pills-values"
                        type="button" role="tab" aria-controls="#pills-values" aria-selected="false">WIOCC values
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-training-tab" data-bs-toggle="pill" data-bs-target="#pills-training"
                        type="button" role="tab" aria-controls="pills-training" aria-selected="false">Training and
                    development Needs
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="self-evaluation-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-self-evaluation"
                        type="button" role="tab" aria-controls="self-evaluation" aria-selected="false">Self Evaluation
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="supervisor-evaluation-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-supervisor-evaluation"
                        type="button" role="tab" aria-controls="supervisor-evaluation" aria-selected="false">Supervisor
                    Evaluation
                </button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-objectives" role="tabpanel"
                 aria-labelledby="pills-objectives-tab">
                <div class="card">
                    <div class="card-body">


                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Objective</th>
                                <th scope="col">Measure of Success</th>
                                <th scope="col">Date Set</th>
                                <th scope="col">Timeline</th>
                                <th scope="col">Self Evaluation</th>
                                <th scope="col">Supervisor Evaluation</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for objective in pdg.objectives %}

                                <tr>
                                    <td>{{ objective.objective }}</td>
                                    <td>{{ objective.measure_of_success }}</td>
                                    <td>{{ objective.date_set }}</td>
                                    <td>{{ objective.timeline }}</td>
                                    <td>{{ objective.self_evaluation }}</td>
                                    <td>{{ objective.supervisor_evaluation }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="pills-future-objectives" role="tabpanel"
                 aria-labelledby="pills-future-objectives-tab">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Objective</th>
                                <th scope="col">Measure of Success</th>
                                <th scope="col">Timeline</th>
                            </tr>
                            </thead>
                            <tbody>


                            {% for objective in pdg.futures %}

                                <tr>
                                    <td>{{ objective.objective }}</td>
                                    <td>{{ objective.measure_of_success }}</td>
                                    <td>{{ objective.timeline }}</td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="pills-values" role="tabpanel" aria-labelledby="pills-values-tab">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Client Focus</th>
                                <th scope="col">Boundless</th>
                                <th scope="col">Collaborate</th>
                                <th scope="col">Integrity</th>
                                <th scope="col">Self Evaluation</th>
                                <th scope="col">Personal Excellence</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for value in pdg.values %}

                                <tr>
                                    <td>{{ value.client_focus }}</td>
                                    <td>{{ value.boundless }}</td>
                                    <td>{{ value.collaborate }}</td>
                                    <td>{{ value.integrity }}</td>
                                    <td>{{ value.personal_excellence }}</td>

                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="pills-training" role="tabpanel" aria-labelledby="pills-training-tab">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Purpose</th>
                                <th scope="col">Priority</th>
                                <th scope="col">Target Date</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for training in pdg.trainings %}

                                <tr>
                                    <td>{{ training.purpose }}</td>
                                    <td>{{ training.priority }}</td>
                                    <td>{{ training.target_date }}</td>


                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="pills-self-evaluation" role="tabpanel"
                 aria-labelledby="pills-self-evaluation-tab">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Employee Feedback</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>{{ pdg.employee_feedback }}</td>


                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="pills-supervisor-evaluation" role="tabpanel"
                 aria-labelledby="pills-supervisor-evaluation-tab">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Supervisor Feedback</th>
                                <th scope="col">Rating</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if pdg.approved == False %}

                                <tr>
                                    <td>{{ form.supervisor_feedback(class="form-control") }}</td>
                                    <td>{{ form.rating(class="form-control") }}</td>


                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ pdg.supervisor_feedback }}</td>
                                    <td>{{ pdg.rating }}</td>


                                </tr>

                            {% endif %}

                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
            {#    {{ form.submit() }}#}
            {% if pdg.approved == False and current_user.role_id == 2 %}
                <button type="submit" class="btn btn-info">Submit</button>
            {% endif %}
        </div>

    </form>


{% endblock %}