<header class="p-3 mb-3 border-bottom header  navbar-shadow">
    <div class="d-flex justify-content-end">

<div class="col">

    <a class="mr-4" href="{{ url_for('main.pdgs') }}">Home</a>
                    {% if current_user.is_authenticated %}
                        {{ current_user.username }}
                    {% endif %}
                </div>
        <div class="dropdown ">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
               data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="{{ url_for('azure.logout') }}">Sign out</a></li>
            </ul>
        </div>
    </div>
</header>